body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Rexlia";
    background-color: #37457B;
  }

.title{
    margin-top: 231px;
    color: #DFD2DF;
}

.subtitle {
    color: #F3A712;
}

.continue {
    color: #DFD2DF;
}

.welcome {
    margin-top: 231px;
    color: #DFD2DF;
}

.prompt{
    color: #DFD2DF;
    background-color: #37457B;
    border-radius: 25px;
    padding: 40px;
    width: 420px;
    height: 100px;
    position: fixed;
    right: 200px; bottom: 100px;
    padding: 20px;
}