

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {

}


.color1{
    background: yellow;
}

.color2{
    background: red;
    color: white;
}

.color3{
    background: blue;
    color: white;
}

.color4{
    background: green;
}











