

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{

}

.color1{
    background: yellow;
}

.color2{
    background: red;

}

.color3{
    background: blue;

}

.color4{
    background: green;
}











