/*FONTS*/

@font-face {
    font-family: 'Campton Light';
    src: url('../fonts/Campton-Light.eot');
    /* IE9 Compat Modes */
    
    src: url('../fonts/Campton-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/Campton-Light.woff') format('woff'),
    /* Modern Browsers */
    
    url('../fonts/Campton-Light.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../fonts/Campton-Light.svg#cb0076bde307d1c9b973c30a403bd200') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: normal;
    /*font-weight: 200;*/
}

@font-face {
    font-family: 'Campton ExtraBold';
    src: url('../fonts/Campton-ExtraBold.eot');
    /* IE9 Compat Modes */
    
    src: url('../fonts/Campton-ExtraBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/Campton-ExtraBold.woff') format('woff'),
    /* Modern Browsers */
    
    url('../fonts/Campton-ExtraBold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../fonts/Campton-ExtraBold.svg#156f804e1152db5438ed7d3941e6befb') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: normal;
    /*font-weight: 700;*/
}

@font-face {
    font-family: 'tisaproregular';
    src: url('../fonts/tisapro-regular-webfont.eot');
    src: url('../fonts/tisapro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-regular-webfont.woff') format('woff'), url('../fonts/tisapro-regular-webfont.ttf') format('truetype'), url('../fonts/tisapro-regular-webfont.svg#tisaproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tisaproitalicmedium';
    src: url('../fonts/tisapro-mediumitalic-webfont.eot');
    src: url('../fonts/tisapro-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-mediumitalic-webfont.woff') format('woff'), url('../fonts/tisapro-mediumitalic-webfont.ttf') format('truetype'), url('../fonts/tisapro-mediumitalic-webfont.svg#tisaproitalicmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tisapromedium';
    src: url('../fonts/tisapro-medium-webfont.eot');
    src: url('../fonts/tisapro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-medium-webfont.woff') format('woff'), url('../fonts/tisapro-medium-webfont.ttf') format('truetype'), url('../fonts/tisapro-medium-webfont.svg#tisapromedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tisaproitalicbold';
    src: url('../fonts/tisapro-bolditalic-webfont.eot');
    src: url('../fonts/tisapro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-bolditalic-webfont.woff') format('woff'), url('../fonts/tisapro-bolditalic-webfont.ttf') format('truetype'), url('../fonts/tisapro-bolditalic-webfont.svg#tisaproitalicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tisaprobold';
    src: url('../fonts/tisapro-bold-webfont.eot');
    src: url('../fonts/tisapro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-bold-webfont.woff') format('woff'), url('../fonts/tisapro-bold-webfont.ttf') format('truetype'), url('../fonts/tisapro-bold-webfont.svg#tisaprobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tisaproitalic';
    src: url('../fonts/tisapro-italic-webfont.eot');
    src: url('../fonts/tisapro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-italic-webfont.woff') format('woff'), url('../fonts/tisapro-italic-webfont.ttf') format('truetype'), url('../fonts/tisapro-italic-webfont.svg#tisaproitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Campton ExtraBold';
    font-size: 80px;
    line-height: 70px;
    color: #3B3B41;
    text-align: center;
    width: 760px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    h2 {
        font-size: 40px;
        line-height: 38px;
        width: 280px;
    }
}

h2:after {
    display: block;
    width: 12px;
    height: 8px;
    margin: 32px auto;
    content: "";
    background: url(../img/sprite.png) -116px -90px;
    background-size: 246px 302px;
    font-weight: normal;
}

@media (max-width: 768px) {
    h2:after {
        width: 8px;
        height: 8px;
        margin: 22px auto;
        font-size: 80px;
        background: url(../img/sprite.png) -116px -90px;
        background-size: 246px 302px;
    }
}

h3 {
    font-family: 'tisaproitalicbold';
    font-size: 30px;
    line-height: 39px;
    color: #3B3B41;
    text-align: center;
    font-weight: normal;
    display: block;
    max-width: 750px;
    margin: 0 auto;
    margin-top: -5px;
}

@media (max-width: 768px) {
    h3 {
        font-family: 'tisaproitalicbold';
        font-size: 19px;
        line-height: 31px;
        color: #3B3B41;
        text-align: center;
        font-weight: normal;
        display: block;
        max-width: 350px;
        margin: 0 auto;
        margin-top: -5px;
    }
}

p {
    font-family: 'Campton Light';
    font-size: 18px;
    line-height: 31px;
    color: #3B3B41;
    text-align: left;
    display: block;
    max-width: 750px;
    margin: 35px auto 0 auto;
}

@media (max-width: 768px) {
    p {
        font-family: 'Campton Light';
        font-size: 16px;
        line-height: 31px;
        color: #3B3B41;
        text-align: left;
        display: block;
        max-width: 350px;
        margin: 35px auto 0 auto;
    }
}

p a,
h3 a {
    color: #D44120;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -ms-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

p a,
h3 a:hover {
    color: #e36144;
    text-decoration: none;
}

h3 a:focus {
    color: #e36144;
    text-decoration: none;
}

ul.fave-things {
    list-style-type: none;
    max-width: 750px;
    margin: 30px auto 0 auto;
    font-family: 'Campton Light';
    font-size: 18px;
    line-height: 31px;
    color: #3B3B41;
    text-align: left;
    padding: 0;
}

ul.fave-things a {
    font-family: 'Campton ExtraBold';
    color: #D44120;
}

@media (max-width: 768px) {
    ul.fave-things {
        list-style-type: none;
        max-width: 350px;
        margin: 30px auto 0 auto;
        font-family: 'Campton Light';
        font-size: 18px;
        line-height: 31px;
        color: #3B3B41;
        text-align: left;
        padding: 0;
    }
}

.quote {
    font-family: 'tisaproitalicbold';
    font-size: 20px;
    text-align: left;
}

.quote span {
    font-size: 15px;
}
/*FONTS-END*/
/*GLOBALS*/

body,
html {
    height: 100%;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #F2F2F2;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.trans {
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -ms-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.section-back {
    background-color: #F2F2F2;
}

section {
    margin: 0;
    position: relative;
}

.section-text {
    padding-top: 140px;
    padding-bottom: 140px;
}

.section-last {
    padding-top: 140px;
    padding-bottom: 0px !important;
}

.section-text a {
    margin: 70px auto 0 auto;
}

.contact-btn {
    margin: 30px auto 0 auto;
}

@media (max-width: 768px) {
    .section-text {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container-fluid {
    padding: 0px;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

.btn {
    display: block;
    width: 240px;
    height: 60px;
    border-radius: 40px;
    border: 3px solid #3B3B41;
    font-family: 'Campton ExtraBold';
    font-size: 20px;
    padding-top: 14px;
    color: #3B3B41;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -ms-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

.btn:hover {
    border: 3px solid #D44120;
    color: #D44120;
}

.cta {
    background-color: #3B3B41;
    border: 3px solid #3B3B41;
    color: #F2F2F2;
}

.cta:hover {
    background-color: #D44120;
    border: 3px solid #D44120;
    color: #F2F2F2;
}

:-moz-any-link:focus {
    outline: none;
}
/*GLOBALS-END*/
/* MENU */

.no-scroll {
    overflow: hidden;
}

#logo-small {
    display: block;
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 999000;
    margin: 20px 0 0 20px;
    padding: 0;
    left: 0;
    background: url(../img/sprite.png) -126px -160px;
    background-size: 246px 302px;
    opacity: 0;
    -webkit-transform: translateZ(0);
}

#logo-small span {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -168px -160px;
    background-size: 246px 302px;
    opacity: 0;
}

#logo-small span:hover {
    opacity: 1;
}

.toggle-menu {
    display: block;
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 999999999;
    margin: 20px 20px 0 0;
    padding: 0;
    right: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translateZ(0);
}

.svg-menu-toggle {
    fill: #fff;
    pointer-events: all;
    cursor: pointer;
}

.svg-menu-toggle .round {
    transition: fill .4s ease-in-out;
    -webkit-transition: fill .4s ease-in-out;
    -moz-transition: fill .4s ease-in-out;
}

.svg-menu-toggle .bar {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 1;
    -webkit-transform-origin: 20px 10px;
    -moz-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
    -moz-transition: -moz-transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.svg-menu-toggle .bar:nth-of-type(1) {
    -webkit-transform-origin: 20px 10px;
    -moz-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
}

.svg-menu-toggle .bar:nth-of-type(3) {
    -webkit-transform-origin: 20px 20px;
    -moz-transform-origin: 20px 20px;
    transform-origin: 20px 20px;
}

.svg-menu-toggle.active .bar:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translateY(-10px) translateX(-8px);
    -moz-transform: rotate(-45deg) translateY(-10px) translateX(-8px);
    transform: rotate(-45deg) translateY(-10px) translateX(-8px);
    fill: #3B3B41;
}

.svg-menu-toggle.active .bar:nth-of-type(2) {
    opacity: 0;
}

.svg-menu-toggle.active .bar:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translateY(6px) translateX(0px);
    -moz-transform: rotate(45deg) translateY(6px) translateX(0px);
    transform: rotate(45deg) translateY(6px) translateX(0px);
    fill: #3B3B41;
}

.svg-menu-toggle.active .round {
    fill: #F2F2F2;
}

.inline-svg {
    display: block;
    margin: 0 auto;
}

.cbp-spmenu a {
    color: #F2F2F2;
    text-decoration: none;
    padding: 0;
}

.menu-primary {
    font-family: 'Campton ExtraBold';
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 16px;
}

.menu-secondary {
    font-family: 'Campton Light';
    font-size: 12px;
    margin-bottom: 14px;
    text-transform: capitalize;
}

.drop {
    display: block;
    margin-top: 35px;
}

.menu-link-holder {
    display: block;
    margin-top: 40px;
}

nav a:before {
    display: block;
    content: "";
    margin-top: 6px;
    width: 8px;
    height: 8px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

nav a:hover:before,
.selected:before {
    display: block;
    content: "";
    margin-top: 5px;
    width: 8px;
    height: 8px;
    background: url(../img/sprite.png) -116px -98px;
    background-size: 246px 302px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
/*MENU-END*/
/*INTRO*/

.fade-out {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    pointer-events: none;
}

.fade-out-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    pointer-events: none;
}

.intro-back {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: url(../img/back-temp.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    position: fixed;
    -webkit-transform: translateZ(0);
}

.intro {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.logo-intro {
    margin: 0 auto;
    display: block;
    width: 69px;
    height: 90px;
    background: url(../img/sprite.png) -115px 0;
    background-size: 246px 302px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.arrow-away {
    position: absolute;
    margin-right: 4px;
    right: 10px;
    top: 15px;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../img/sprite.png) 0 -134px;
    background-size: 246px 302px;
}

.arrow-away-hover {
    opacity: 0;
    margin-right: 4px;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../img/sprite.png) -26px -134px;
    background-size: 246px 302px;
}

.arrow-away-hover:hover {
    opacity: 1;
}

button {
    margin: 0;
    padding: 0;
}

.intro-holder {
    position: absolute;
    width: 100%;
    top: 40%;
}

@media (max-width: 1440px) {
    .intro-holder {
        position: absolute;
        width: 100%;
        top: 35%;
    }
}

@media (max-width: 480px) {
    .intro-holder {
        position: absolute;
        width: 100%;
        top: 35%;
    }
}

.intro-buttons {
    display: block;
    width: 520px;
    margin: 80px auto;
}

@media (max-width: 1440px) {
    .intro-buttons {
        display: block;
        width: 520px;
        margin: 50px auto;
    }
}

@media (max-width: 768px) {
    .intro-buttons {
        display: block;
        width: 520px;
        margin: 40px auto;
    }
}

@media (max-width: 480px) {
    .intro-buttons {
        display: block;
        width: auto;
        margin: 40px auto;
    }
}

.intro-buttons a {
    position: relative;
    float: left;
    margin: 0 10px;
}

@media (max-width: 480px) {
    .intro-buttons a {
        margin: 10px auto;
        float: none;
    }
}

h4.hello-text {
    margin: 0 auto;
    font-family: 'tisaproitalicbold';
    width: 1000px !important;
    font-size: 60px;
    line-height: 75px;
    color: #3B3B41;
    text-align: center;
    display: block;
}

@media (max-width: 1440px) {
    h4.hello-text {
        margin: 0 auto;
        font-family: 'tisaproitalicbold';
        width: 700px !important;
        font-size: 40px;
        line-height: 55px;
        color: #3B3B41;
        text-align: center;
        display: block;
    }
}

@media (max-width: 768px) {
    h4.hello-text {
        margin: 0 auto;
        font-family: 'tisaproitalicbold';
        width: 500px !important;
        font-size: 30px;
        line-height: 40px;
        color: #3B3B41;
        text-align: center;
        display: block;
    }
}

@media (max-width: 640px) {
    h4.hello-text {
        margin: 0 auto;
        font-family: 'tisaproitalicbold';
        width: 280px!important;
        font-size: 16px;
        line-height: 23px;
        color: #3B3B41;
        text-align: center;
        display: none;
    }
}

.down-arrow {
    margin: 0 auto;
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) 0 -160px;
    background-size: 246px 302px;
    margin-left: -21px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 10;
}

@media (max-width: 768px) {
    .down-arrow {
        margin: 0 auto;
        display: block;
        width: 42px;
        height: 42px;
        background: url(../img/sprite.png) 0 -160px;
        background-size: 246px 302px;
        margin-left: -21px;
        position: absolute;
        bottom: 40px;
        left: 50%;
    }
}

.down-arrow span {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -42px -160px;
    background-size: 246px 302px;
    opacity: 0;
}

.down-arrow span:hover {
    opacity: 1;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    -webkit-transform: translateZ(0);
}

@media (max-width: 1014px) {
    video#bgvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        display: none;
    }
}
/*INTRO-END*/
/*PROJECTS*/

.title-middle {
    display: block;
    width: 600px;
    z-index: 1000;
    position: absolute;
    margin-left: -300px;
    top: 45%;
    left: 50%;
    color: #F2F2F2;
    pointer-events: none;
}

.title-middle:after {
    display: none;
}

@media (max-width: 1440px) {
    .title-middle {
        display: block;
        width: 600px;
        z-index: 1000;
        position: absolute;
        margin-left: -300px;
        top: 45.5%;
        left: 50%;
        color: #F2F2F2;
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 1024px) {
    .title-middle {
        position: relative;
        display: block;
        width: auto;
        z-index: 1000;
        margin: 0px auto 10px auto;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        top: 0;
        left: 0;
        color: inherit;
    }
}

@media (max-width: 1024px) {
    .title-middle br {
        display: none;
    }
}

.proj-thumbs {
    margin-top: 40px;
}

.proj-link {
    display: block;
    width: 100%;
    height: auto;
}

.img-dimmer {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 65, 0.40);
}

.proj-info {
    z-index: 10;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.proj-info:hover {
    opacity: 1;
    background: rgba(59, 59, 65, 0.90);
}

@media (max-width: 1024px) {
    .proj-info {
        z-index: 10;
        opacity: 1;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .proj-info:hover {
        background: rgba(59, 59, 65, 0.0);
    }
}

.dl-info {
    z-index: 10;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.dl-info:hover {
    opacity: 1;
    background: rgba(212, 65, 32, 0.90);
}

@media (max-width: 1024px) {
    .dl-info {
        z-index: 10;
        opacity: 1;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .dl-info:hover {
        background: rgba(212, 65, 32, 0.0);
    }
}

@media (max-width: 1024px) {
    .img-dimmer {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(59, 59, 65, 0.80);
    }
}

.dl-img-dimmer {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 65, 0.40);
}

@media (max-width: 1024px) {
    .dl-img-dimmer {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(212, 65, 32, 0.80);
    }
}

.proj-pic {
    width: 100%;
    height: 600px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform: translateZ(0);
}

@media (max-width: 1440px) {
    .proj-pic {
        width: 100%;
        height: 400px;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width: 480px) {
    .proj-pic {
        width: 100%;
        height: 200px;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.proj1 {
    background: url(../img/proj/proj1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.proj2 {
    background: url(../img/proj/proj2.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.proj3 {
    background: url(../img/proj/proj3.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dl1 {
    background: url(../img/proj/dl1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dl2 {
    background: url(../img/proj/dl2.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.projTemp {
    background: url(../img/proj/dummy-image-1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info-details {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -140px;
    position: absolute;
    width: 280px;
    height: 200px;
}

.proj-arrow {
    top: 50%;
    display: block;
    margin: 50px auto 0 auto;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -84px -160px;
    background-size: 246px 302px;
}

.proj-arrow-dl {
    top: 50%;
    display: block;
    margin: 50px auto 0 auto;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -184px -250px;
    background-size: 246px 302px;
}

.proj-name,
.proj-type {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F2F2F2;
    width: 100%;
}

.proj-name {
    display: block;
    font-size: 25px;
    font-family: 'Campton ExtraBold';
    text-align: center;
    margin-top: 10px;
}

.proj-type {
    font-family: 'Campton Light';
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
/*PROJECTS-END*/
/*CONTACT*/

@media (max-width: 768px) {
    .mail-add {
        font-size: 20px;
    }
}

#Contactme h3 {
    padding-left: 20px;
    padding-right: 20px;
}

#Contactme a {
    font-family: 'Campton ExtraBold';
}
/*CONTACT-END*/
/*FOOTER*/

.social-networks {
    display: block;
    margin: 0 auto;
    width: 250px;
    padding-top: 30px;
    height: 80px;
}

.icons li {
    display: inline;
    float: left;
}

.icons a {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.beh {
    background: url(../img/sprite.png) -0px -202px;
    background-size: 246px 302px;
}

.s6 {
    background: url(../img/sprite.png) -48px -202px;
    background-size: 246px 302px;
}

.drib {
    background: url(../img/sprite.png) -96px -202px;
    background-size: 246px 302px;
}

.beh-hover {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/sprite.png) -0px -250px;
    background-size: 246px 302px;
    opacity: 0;
}

.beh-hover:hover {
    opacity: 1;
}

.s6-hover {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/sprite.png) -48px -250px;
    background-size: 246px 302px;
    opacity: 0;
}

.s6-hover:hover {
    opacity: 1;
}

.drib-hover {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/sprite.png) -96px -250px;
    background-size: 246px 302px;
    opacity: 0;
}

.drib-hover:hover {
    opacity: 1;
}

footer p {
    font-size: 14px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.footer-logo {
    margin: 100px auto -24px auto;
    display: block;
    width: 62px;
    height: 62px;
    background: url(../img/sprite.png) -184px 0;
    background-size: 246px 302px;
}

@media (max-width: 768px) {
    .footer-logo {
        margin: 50px auto -24px auto;
        display: block;
        width: 62px;
        height: 62px;
        background: url(../img/sprite.png) -184px 0;
        background-size: 246px 302px;
    }
}

.copy-txt {
    font-family: 'Campton ExtraBold';
    padding-bottom: 40px;
}
/*FOOTER-END*/

#download-universal {
    display: block;
    width: 320px;
    height: 500px;
    margin: 0 auto 40px auto;
}

a.dl-logo {
    margin: 60px auto 0 auto;
    display: block;
    width: 62px;
    height: 62px;
    background: url(../img/sprite.png) -184px -0;
    background-size: 246px 302px;
}

a.dl-logo span {
    margin: 60px auto 0 auto;
    display: block;
    width: 62px;
    height: 62px;
    background: url(../img/sprite.png) -184px -62px;
    background-size: 246px 302px;
    opacity: 0;
}

a.dl-logo span:hover {
    opacity: 1;
}

#download-universal h1 {
    font-family: 'Campton ExtraBold';
    font-size: 28px;
    color: #3B3B41;
    line-height: 38px;
    text-align: center;
    padding: 0;
}

#download-universal p {
    font-family: 'Campton Light';
    font-size: 18px;
    color: #3B3B41;
    text-align: center;
    margin: 5px 0;
}

.download {
    display: block;
    margin: 100px auto 20px auto;
    width: 120px;
    height: 120px;
    background: url(../img/dl.png) 0 0;
    background-size: 120px 240px;
}

.download span {
    display: block;
    margin: 60px auto 20px auto;
    width: 120px;
    height: 120px;
    background: url(../img/dl.png) 0 -120px;
    background-size: 120px 240px;
    opacity: 0;
}

.download span:hover {
    opacity: 1;
}

.dl-body {
    height: 0;
}
/* CV START */

.cv-bgimg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-image: url(../img/cv_back.jpg);
    background-size: cover;
    -webkit-transform: translateZ(0);
}

@media (max-width: 480px) {
    .cv-bgimg {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        background-image: url(../img/cv_back_small.jpg);
        background-size: cover;
        -webkit-transform: translateZ(0);
    }
}

.cv-holder {
    position: absolute;
    top: 55%;
    margin-top: -300px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
}

@media (max-width: 1300px) {
    .cv-holder {
        position: absolute;
        top: 64%;
        margin-top: -300px;
        left: 50%;
        margin-left: -300px;
        width: 600px;
    }
}

@media (max-width: 768px) {
    .cv-holder {
        position: absolute;
        top: 50%;
        margin-top: -300px;
        left: 50%;
        margin-left: -300px;
        width: 600px;
    }
}

.cv-logo {
    background: url(../img/cv_spirte.png) 0px 0px;
    background-size: 1000px 800px;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

#cv_h1 {
    font-family: 'Campton ExtraBold';
    font-size: 48px;
    color: #3B3B41;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 35px;
}

#cv_h2 {
    font-family: 'Campton ExtraBold';
    font-size: 20px;
    color: #3B3B41;
    line-height: 30px;
    text-align: center;
    padding: 0;
    width: 500px;
    text-transform: uppercase;
}

#cv_h2:after {
    display: none;
}

.cv-heading3 {
    padding: 0 20px 0 20px;
}

.cv_h3 {
    font-family: 'Campton ExtraBold';
    font-size: 48px;
    color: #3B3B41;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 35px;
}

.cv_h4_soft {
    font-family: 'Campton Light';
    font-size: 28px;
    color: #3B3B41;
    line-height: 33px;
    text-align: center;
    padding: 0;
    width: 100%;
    margin-top: 40px;
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .cv-logo {
        background: url(../img/cv_spirte.png) 0px -150px;
        background-size: 1000px 800px;
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    .cv-holder #cv_h1 {
        font-family: 'Campton ExtraBold';
        font-size: 25px;
        color: #3B3B41;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        margin-top: 15px;
    }
    #cv_h2 {
        font-family: 'Campton ExtraBold';
        font-size: 19px;
        color: #3B3B41;
        line-height: 23px;
        text-align: center;
        padding: 10px 0 0 0;
        width: 280px;
        text-transform: uppercase;
    }
    .cv-holder {
        position: absolute;
        top: 0;
        margin-top: 20px;
        left: 0%;
        margin-left: 0px;
        width: 100%;
    }
}

.cv-svg-icon {
    width: 66px;
    height: 66px;
    display: block;
    margin: 0 auto;
}

.intro-buttons-cv {
    display: block;
    width: 520px;
    margin: 32px auto;
}

@media (max-width: 1440px) {
    .intro-buttons-cv {
        display: block;
        width: 520px;
        margin: 32px auto;
    }
}

@media (max-width: 768px) {
    .intro-buttons-cv {
        display: block;
        width: 520px;
        margin: 40px auto;
    }
}

@media (max-width: 480px) {
    .intro-buttons-cv {
        display: block;
        width: auto;
        margin: 10px auto;
    }
}

.intro-buttons-cv a {
    position: relative;
    float: left;
    margin: 0 10px;
}

@media (max-width: 480px) {
    .intro-buttons-cv a {
        margin: 10px auto;
        float: none;
    }
}

.cv-sect-1 {
    padding: 140px 0;
    background: #F2F2F2;
}

.cv-sect-2 {
    padding: 140px 0;
    background: #F8F8F8;
}

@media (max-width: 480px) {
    .cv-sect-1 {
        padding: 70px 0;
        background: #F2F2F2;
    }
    .cv-sect-2 {
        padding: 70px 0;
        background: #F8F8F8;
    }
}

.cv-container {
    display: block;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.cv-container-start {
    padding-top: 100px;
}

.cv-cont-2 {
    margin-top: 80px;
}

.col {
    display: block;
    width: 400px;
    float: left;
}

@media (max-width: 1300px) {
    .cv-container {
        display: block;
        width: 900px;
        margin: 0 auto;
        overflow: hidden;
    }
    .col {
        display: block;
        width: 300px;
        float: left;
    }
    .cv-cont-2 {
        margin-top: 60px;
    }
    .col h6 {
        font-family: 'Campton Light';
        font-size: 18px;
        color: #3B3B41;
        line-height: 2px;
        text-align: left;
        padding-left: 27px !important;
    }
}

@media (max-width: 900px) {
    .cv-container {
        display: block;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    .col {
        margin-bottom: 30px;
        display: block;
        width: 100%;
    }
    .cv-cont-2 {
        margin-top: 40px;
    }
}

.icon-over-1 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) 0px -230px;
    background-size: 1000px 800px;
}

.icon-over-2 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) -160px -230px;
    background-size: 1000px 800px;
}

.icon-over-3 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) -320px -230px;
    background-size: 1000px 800px;
}

.icon-over-4 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) 0px -390px;
    background-size: 1000px 800px;
}

.icon-over-5 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) -160px -390px;
    background-size: 1000px 800px;
}

.icon-over-6 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) -320px -390px;
    background-size: 1000px 800px;
}

.icon-over-7 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) 0px -550px;
    background-size: 1000px 800px;
}

.icon-over-8 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) -160px -550px;
    background-size: 1000px 800px;
}

.icon-over-9 {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/cv_spirte.png) -320px -550px;
    background-size: 1000px 800px;
}

.col h5 {
    padding-top: 25px;
    font-family: 'Campton ExtraBold';
    font-size: 28px;
    margin: 0px 0px 10px 0;
    color: #3B3B41;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
}

.col h6 {
    font-family: 'Campton Light';
    font-size: 19px;
    color: #3B3B41;
    line-height: 6px;
    text-align: left;
    padding-left: 78px;
    padding-bottom: 20px;
    margin: -8px 0px -8px 5px;
}

@media (max-width: 900px) {
    .col h6 {
        width: 240px !important;
        display: block !important;
        font-family: 'Campton Light';
        font-size: 19px;
        color: #3B3B41;
        line-height: 6px;
        text-align: left;
        padding-left: 5px !important;
        padding-bottom: 20px;
        margin: -8px auto !important;
    }
}

.col p {
    font-family: 'Campton Light';
    display: block;
    margin: 0 auto;
    width: 260px;
    font-size: 16px;
    color: #3B3B41;
    line-height: 25px;
    text-align: center;
}

@media (max-width: 320px) {
    .col p {
        font-family: 'Campton Light';
        display: block;
        margin: 0 auto;
        width: 280px;
        font-size: 16px;
        color: #3B3B41;
        line-height: 28px;
        text-align: center;
    }
}

.col svg {
    display: block;
    width: 286px;
    margin: 15px auto 22px auto;
}

.col svg:nth-child(2) {
    display: block;
    width: 286px;
    margin: 40px auto 22px auto;
}

.process-watch {
    margin: 80px auto 40px auto;
    display: block;
    width: 600px;
    height: 212px;
    background: url(../img/Process.png);
    background-size: 600px 212px;
}

@media (max-width: 600px) {
    .process-watch {
        margin: 20px auto;
        display: block;
        width: 218px;
        height: 618px;
        background: url(../img/Process_mob.png);
        background-size: 218px 618px;
    }
}

.section-end-cv {
    background: #F8F8F8 !important;
}