body {
   margin: 0px;
   padding: 0px;
}

.ui {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

.monitor{
    position: absolute;
    width: 100%;
    height: 64px;
    top:16px;
    background: rgba(255, 255, 255, 0.39);
}

.intro {
    position: relative;
    display: block;
    width: 270px;
    height: 142px;
    background: url(desc.svg) no-repeat;
    top: 200px;
    left: 72px;
}

.bottom-btns {
    position: absolute;
    bottom:0;
    margin: 0;
    display: block;
    width: 414px;
}

.btn-1 {
    margin: 16 auto;
    display: block;
    width: 382px;
    height: 67px;
    background: url(intro_btn_1.png);
    background-size: 382px 67px;
    box-shadow: 0 7px 11px 0 rgba(52,59,70,0.16), 0 1px 13px 0 rgba(52,59,70,0.18), 0 3px 6px 0 rgba(52,59,70,0.20);
}

.btn-2 {
    margin: 16 auto;
    display: block;
    width: 382px;
    height: 67px;
    background: url(intro_btn_2.png);
    background-size: 382px 67px;
}

scene {
    z-index: -1;
}
