body,
html {
    height: 100%;
    margin: 0;
}
section {
    position: relative;
}
#intro {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: red;
}
.section1 {
    width: 100%;
    height: 500px;
    background: blue;
}

/*PARA START*/

.section2 {
    height: 100%;
    background: grey;
}
.para_element {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
}
#par1 {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 500px;
    background: red;
}

/*PARA END*/

.section3 {
    width: 100%;
    height: 600px;
    background: yellow;
    height: 6000px;
}
