body,
html {
    height: 100%;
    margin: 0;
}
section {
    position: relative;
}
#intro {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: red;
}
.section1 {
    width: 100%;
    height: 500px;
    background: blue;
}

/*PARA START*/

.section2 {
    height: 100%;
    background: grey;
}
.para_element {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*PARA END*/

.section3 {
    width: 100%;
    height: 600px;
    background: yellow;
    height: 6000px;
}
