body {
    margin: 0;
}

#top-frame {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
}

.floater {
    left: 50%;
    margin-left: -152px;
    bottom: 24px;
    width: 304px;
    height: 56px;
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 28px;
    z-index: 1;
}

p {
    width: 400px;
    font-size: 40px;
    color: black;
}

#scene {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#bottom-frame {
    display: block;
    width: 100%;
    height: 1800px;
    background: red;
}

@media (max-width: 840px) {
    .floater {
        bottom: 8px;
    }
}