.bg {
    display: block;
    height: 1000px;
}

.floater {
    left: 100px;
    top: 300px;
    display: block;
    width: 200px;
    height: 200px;
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 16px;
    z-index: 1;
}

p {
    width: 400px;
    font-size: 40px;
    color: black;
}

#scene {
    display: block;
    width: 600px;
    height: 800px;
}