/*FONTS BASE*/

@font-face {
  font-family: 'Effra-Regular';
  src: url('../fonts/Effra-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Effra-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Effra-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Effra-Regular.svg#9415985da0ffc35466232532a260e2fc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'EffraHeavy-Regular';
  src: url('../fonts/EffraHeavy-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/EffraHeavy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/EffraHeavy-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/EffraHeavy-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/EffraHeavy-Regular.svg#dce01ffeba0589c2b8b38deab731206a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
    font-family: 'tisaproregular';
    src: url('../fonts/tisapro-regular-webfont.eot');
    src: url('../fonts/tisapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-regular-webfont.woff') format('woff'),
         url('../fonts/tisapro-regular-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-regular-webfont.svg#tisaproregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tisaproitalicmedium';
    src: url('../fonts/tisapro-mediumitalic-webfont.eot');
    src: url('../fonts/tisapro-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/tisapro-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-mediumitalic-webfont.svg#tisaproitalicmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tisapromedium';
    src: url('../fonts/tisapro-medium-webfont.eot');
    src: url('../fonts/tisapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-medium-webfont.woff') format('woff'),
         url('../fonts/tisapro-medium-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-medium-webfont.svg#tisapromedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tisaproitalicbold';
    src: url('../fonts/tisapro-bolditalic-webfont.eot');
    src: url('../fonts/tisapro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-bolditalic-webfont.woff') format('woff'),
         url('../fonts/tisapro-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-bolditalic-webfont.svg#tisaproitalicbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tisaprobold';
    src: url('../fonts/tisapro-bold-webfont.eot');
    src: url('../fonts/tisapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-bold-webfont.woff') format('woff'),
         url('../fonts/tisapro-bold-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-bold-webfont.svg#tisaprobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tisaproitalic';
    src: url('../fonts/tisapro-italic-webfont.eot');
    src: url('../fonts/tisapro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-italic-webfont.woff') format('woff'),
         url('../fonts/tisapro-italic-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-italic-webfont.svg#tisaproitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*GLOBALS*/


body, html {
    height: 100%;
    background-color: #F2F2F2;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: helvetica;
    font-weight: 100;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.trans {
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -ms-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}



/*FONTS BASE*/


h2 {
    font-family: 'EffraHeavy-Regular';
    font-size: 120px;
    line-height: 110px;
    color: #3B3B41;
    text-align: center;
}

@media (max-width: 768px) {
    h2 {
        font-size: 80px;
        line-height: 70px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 45px;
        line-height: 35px;
    }
}





h2:after {
    display: block;
    width: 12px;
    height: 12px;
    background: red;
    margin: 60px auto;
    content:"";
    background: url(../img/sprite.png) -140px -147px;
    background-size: 491px 989px;
    font-weight: normal;
}

@media (max-width: 768px) {
    h2:after {
        width: 8px;
        height: 8px;
        margin: 40px auto;
        font-size: 80px;
        background: url(../img/sprite.png) -140px -139px;
        background-size: 491px 989px;
    }
}

@media (max-width: 480px) {
    h2:after {
        width: 8px;
        height: 8px;
        margin: 30px auto 10px auto;
        font-size: 80px;
        background: url(../img/sprite.png) -140px -139px;
        background-size: 491px 989px;
    }
}

h3 {
    font-family: 'tisaproitalicbold';
    font-size: 50px;
    line-height: 64px;
    color: #3B3B41;
    text-align: center;
    font-weight: normal;
}

@media (max-width: 768px) {
    h3 {
        font-size: 30px;
        line-height: 42px;
    }
}

p {
    font-family: 'tisaproregular';
    font-size: 25px;
    line-height: 41px;
    color: #3B3B41;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 768px) {
    p {
    font-size: 16px;
    line-height: 26px;
    }
}








.nav-base {
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 1px solid #000;
    background: rgba(242 , 242 , 242 ,0.9);
    z-index: 10;
    padding: 20px;r
}

.logo-small {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) 0 -195px;
    background-size: 491px 989px;
    position: relative;
    float: left;
}

.logo-small:hover {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -r42px -195px;
    background-size: 491px 989px;
    position: relative;
    float: left;
}

#sidebar-toggle {
    display: block;
    width:42px;
    height: 42px;
    position: relative;
    float: right;
}


.container-side {
    position: relative;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    right: 0;
    -webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;
}
.container-side.open-sidebar {
    right: 260px;
}
 
.swipe-area {
    position: absolute;
    width: 50px;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}
#sidebar {
    background: #3B3B41;
    position: absolute;
    width: 260px; 
    height: 100%;
    right: -260px;
}
#sidebar ul {
    margin: 38px 0 0 48px;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin:0;
}
#sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #F2F2F2;
}

.primary_menu {
    margin: 16px 0 0 0;
    font-family: 'EffraHeavy';
    font-size: 16px;
}

.secondary_menu {
    margin: 8px 0 0 0;
    font-family: 'TisaProRegular';
    font-size: 14px;
}

.main-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}





.main-content #sidebar-toggle .bar:last-child{
     margin-bottom: 0;   
}

<!--SVG HAMBURGER-->
.svg-menu-toggle {
  fill: #fff;
  pointer-events: all;
  cursor: pointer;
}

.svg-menu-toggle .round {
    transition: fill .4s ease-in-out;
}

.svg-menu-toggle .bar {
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  transform: rotate(0) translateY(0) translateX(0);
  opacity: 1;
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
}
.svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
}
.svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-transform-origin: 20px 20px;
  transform-origin: 20px 20px;
}

.svg-menu-toggle:hover .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(-8px);
  transform: rotate(-45deg) translateY(-10px) translateX(-8px);
  fill:#3B3B41;
}
.svg-menu-toggle:hover .bar:nth-of-type(2) {
  opacity: 0;
}
.svg-menu-toggle:hover .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translateY(6px) translateX(0px) ;
  transform: rotate(45deg) translateY(6px) translateX(0px);
  fill:#3B3B41;
 
}
    
.svg-menu-toggle:hover .round {
  fill:#F2F2F2;
 
}

.inline-svg {
  display: block;
  margin: 0 auto;
}

.intro {
    background: url(../img/temp-back.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.logo-intro{
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 195px;
    background: url(../img/sprite.png) 0 0;
    background-size: 491px 989px;
    margin-top: -98px;
    margin-left: -70px;
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (max-width: 768px) {
    .logo-intro{
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 139px;
        background: url(../img/sprite.png) -140px 0;
        background-size: 491px 989px;
        margin-top: -70px;
        margin-left: -50px;
        position: absolute;
        top: 50%;
        left: 50%;
}

  }

@media (min-width: 1600px) {
    .logo-intro{
        display: none;
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 279px;
        background: url(../img/sprite.png) -154px -168px;
        background-size: 491px 989px;
        margin-top: -140px;
        margin-left: -100px;
        position: absolute;
        top: 50%;
        left: 50%;
}
}


.down-arrow {
    margin: 0 auto;
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) 0 -279px;
    background-size: 491px 989px;
    margin-left: -21px;
    position: absolute;
    bottom:20px;
    left: 50%; 
}

.down-arrow:hover {
    background: url(../img/sprite.png) -42px -279px;
    background-size: 491px 989px;
}

section {
    margin-top: 150px;
    padding-bottom: 150px;
}

@media (max-width: 768px) {

    section {
    margin-top: 50px;
    padding-bottom: 50px;
}

  }

.icon-stage {
    margin-top: 20px;
}

.icon-stage p {
    font-size: 20px;
    font-family: 'Effra-Regular';
    line-height: 0;
}

.my-icons {
    margin:20px auto 0px auto;
    display: block;
    width: 150px;
    height: 150px;
}


.icon-1 {

    background: url(../img/sprite.png) 0 -447px;
    background-size: 491px 989px;
}



.icon-2 {

    background: url(../img/sprite.png) 0 -597px;
    background-size: 491px 989px;
}


.icon-3 {

    background: url(../img/sprite.png) 0 -747px;
    background-size: 491px 989px;
}


@media (max-width: 480px) {

.icon-holder {
    margin-top:80px;
}

  }



.container-fluid {
    padding: 0px;
    
}

@media (max-width: 768px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}


.proj-holder a {
    width: 100%;
    height: auto;
}

a.proj-link img {
    width: 100%;
    height: auto;
}


.proj-info {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    .proj-info {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .proj-info img {
        opacity: 0;
    }
}

.proj-info:hover {
    opacity: 1;
}

.info-plate {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(211,65,31,0.85);
}

@media (max-width: 480px) {
    .info-plate {
        background: rgba(242,242,242,0.7);
    }
}


.project-name {
    color: #F2F2F2;
    display: block;
    position: absolute;
    font-size: 30px;
    font-family: 'EffraHeavy-Regular';
    line-height: 1;
    width: 300px;
    height: 50px;
    top:50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -150px;
}

@media (max-width: 480px) {
    .project-name {
        font-size: 20px;
        color: #D44120;
    }
}


.project-name span {
    font-size: 14px;
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .project-name span {
        font-size: 12px;
    }
}

.arrow {
    margin: 0 auto;
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -84px -195px;
    background-size: 491px 989px;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .arrow {
    margin: 0 auto;
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -84px -237px;
    background-size: 491px 989px;
    margin-bottom: 10px;
        
    }
}


.project-type {
    color: #F2F2F2;
    display: block;
    position: absolute;
    font-family: 'EffraHeavy-Regular';
    width: 300px;
    height: 50px;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -150px;
}

.row-gut {
  padding-right:0px;
  padding-left:0px;
}

input {
   
    border: 0px;
    font-size: 30px;
    font-family: 'Effra-Regular';
    padding-top: 50px;
    background: #F2F2F2;
    color: #3B3B41;
    border-bottom: 2px solid #3B3B41;
    -webkit-appearance: none;
    border-radius: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

::-webkit-input-placeholder {
   color: #3B3B41;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3B3B41;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3B3B41;  
}

:-ms-input-placeholder {  
   color: #3B3B41;  
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 40px;
    font-family: 'Effra-Regular';
    color: #F2F2F2;
    font-size: 30px;
    background: #3B3B41;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 40px;
}

.btn:hover {
    color: #F2F2F2;
    background: #D44120;
}