/*FONTS BASE*/

@font-face {
  font-family: 'EffraRegular';
  src: url('../fonts/Effra-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Effra-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Effra-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Effra-Regular.svg#9415985da0ffc35466232532a260e2fc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'EffraHeavy';
  src: url('../fonts/EffraHeavy-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/EffraHeavy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/EffraHeavy-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/EffraHeavy-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/EffraHeavy-Regular.svg#dce01ffeba0589c2b8b38deab731206a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'TisaProBold';
  src: url('../fonts/TisaPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TisaPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TisaPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TisaPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TisaPro-Bold.svg#4caee0dc85eea26155563f2547b3cab2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'TisaProItalic';
  src: url('../fonts/TisaPro-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TisaPro-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TisaPro-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TisaPro-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TisaPro-Italic.svg#f7fb7fd15311a2a526a966bbc4e3840b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'TisaProRegular';
  src: url('../fonts/TisaPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TisaPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TisaPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TisaPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TisaPro-Regular.svg#1c75379f9eaf2b315da3fa7da3f76cdf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

/*FONTS BASE*/


body, html {
    height: 100%;
    background-color: #F2F2F2;
}

/*MENU*/

body, html {
    height: 100%;
    margin: 0;
    font-family: helvetica;
    font-weight: 100;
    overflow-x: hidden;
}
.container-side {
    position: relative;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    right: 0;
    -webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;
}
.container-side.open-sidebar {
    right: 260px;
}
 
.swipe-area {
    position: absolute;
    width: 50px;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}
#sidebar {
    background: #3B3B41;
    position: absolute;
    width: 260px; 
    height: 100%;
    right: -260px;
}
#sidebar ul {
    margin: 38px 0 0 48px;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin:0;
}
#sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #F2F2F2;
}

.primary_menu {
    margin: 16px 0 0 0;
    font-family: 'EffraHeavy';
    font-size: 16px;
}

.secondary_menu {
    margin: 8px 0 0 0;
    font-family: 'TisaProRegular';
    font-size: 14px;
}

.main-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}



.main-content #sidebar-toggle {
    display: block;
    width:42px;
    height: 42px;
    margin: 20px;
    position: relative;
    float: right;
}


.main-content #sidebar-toggle .bar:last-child{
     margin-bottom: 0;   
}

<!--SVG HAMBURGER-->
.svg-menu-toggle {
  fill: #fff;
  pointer-events: all;
  cursor: pointer;
}

.svg-menu-toggle .round {
    transition: fill .4s ease-in-out;
}

.svg-menu-toggle .bar {
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  transform: rotate(0) translateY(0) translateX(0);
  opacity: 1;
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
}
.svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
}
.svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-transform-origin: 20px 20px;
  transform-origin: 20px 20px;
}

.svg-menu-toggle:hover .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(-8px);
  transform: rotate(-45deg) translateY(-10px) translateX(-8px);
  fill:#3B3B41;
}
.svg-menu-toggle:hover .bar:nth-of-type(2) {
  opacity: 0;
}
.svg-menu-toggle:hover .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translateY(6px) translateX(0px) ;
  transform: rotate(45deg) translateY(6px) translateX(0px);
  fill:#3B3B41;
 
}
    
.svg-menu-toggle:hover .round {
  fill:#F2F2F2;
 
}

.inline-svg {
  display: block;
  margin: 0 auto;
}

.intro {
    background: url(../img/temp-back.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.logo-intro{
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 195px;
    background: url(../img/sprite.png) 0 0;
    background-size: 278px 989px;
    margin-top: -98px;
    margin-left: -70px;
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (max-width: 768px) {
    .logo-intro{
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 139px;
        background: url(../img/sprite.png) -140px 0;
        background-size: 278px 989px;
        margin-top: -70px;
        margin-left: -50px;
        position: absolute;
        top: 50%;
        left: 50%;
}

  }