/*FONTS*/
@import url("//hello.myfonts.net/count/4a60c0");

@font-face {
    font-family: "Campton-Bold";
    src: url('/fonts/CamptonBold/font.woff2') format('woff2'), url('/fonts/CamptonBold/font.woff') format('woff');
}

@font-face {
    font-family: "Campton-Book";
    src: url('/fonts/CamptonBook/font.woff2') format('woff2'), url('/fonts/CamptonBook/font.woff') format('woff');
}

html,
body {

    margin: 0;
}

h2 {
    font-family: 'Campton-Bold';
    font-size: 32px;
    color: #3E3B44;
    line-height: 43px;
    margin: 0;
}

p {
    font-family: 'Campton-Book';
    font-size: 21px;
    color: #3E3B44;
    line-height: 35px;
}


small {
    font-family: 'Campton-Book';
    font-size: 16px;
    color: #3E3B44;
    line-height: 23px;
}

p a,
small a {
    font-family: 'Campton-Bold';
    color: #3E3B44;
    text-decoration: none;
    border-bottom: 3px solid #F45550;
    -webkit-transition: color 0.18s ease-in;
    -moz-transition: color 0.18s ease-in;
    -o-transition: color 0.18s ease-in;
    transition: color 0.18s ease-in;
}

p a:hover,
small a:hover {
    color: #F45550;
}

.article-link {
    display: block;
    text-decoration: none;
    border-top: 1px solid #e0e5eb;
    padding: 32px 0;
    overflow: hidden;

}


.info {
    position: relative;
    padding-right: 40px;
}

.arrow {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0;
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    background: url(assets/arrow.svg);
    background-size: 24px 24px;
}


.article-link h2 {
    -webkit-transition: color 0.18s ease-in;
    -moz-transition: color 0.18s ease-in;
    -o-transition: color 0.18s ease-in;
    transition: color 0.18s ease-in;
}

.article-link:hover h2 {
    color: #F45550;
}



b {
    font-family: 'Campton-Bold';
}

#wrapper {
    max-width: 800px;
    margin: 0 auto;
}

#header {
    margin: 64px 0;
}

#hub {
    margin: 64px 0;
    border-bottom: 1px solid #e0e5eb;

}

.logo {
    display: block;
    width: 96px;
    height: 96px;
}

svg #face {
    fill: #3E3B44;
    -webkit-transition: fill 0.18s ease-in-out;
    -moz-transition: fill 0.18s ease-in-out;
    -o-transition: fill 0.18s ease-in-out;
    transition: fill 0.18s ease-in-out;
}

svg:hover #face {
    fill: #F45550;
}

.push {
    height: 50px;
}

#footer {
    height: 100px;
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.footer-icons {
    display: block;
    width: 100%;
    height: 24px;
    margin-bottom: 16px;
}

.external-icon {
    display: block;
    height: 24px;
    width: 24px;
    margin-right: 16px;
    float: left;
    background-size: 24px 24px;

}

.linkedin {
    background-image: url(assets/linkedin.svg)
}

.medium {
    background-image: url(assets/medium.svg)
}

.behance {
    background-image: url(assets/behance.svg)
}

.dribbble {
    background-image: url(assets/dribbble.svg)
}

@media (max-width: 799px) {
    body {
        margin: 0 16px;
    }

    h2 {
        font-family: 'Campton-Bold';
        font-size: 25px;
        color: #3E3B44;
        line-height: 32px;
    }

    p {
        font-family: 'Campton-Book';
        font-size: 18px;
        color: #3E3B44;
        line-height: 30px;
    }

    small {
        font-family: 'Campton-Book';
        font-size: 14px;
        color: #3E3B44;
        line-height: 20px;
    }

    #wrapper {
        max-width: 480px;
        margin: 0 auto;

    }

    .article-link {
        padding: 16px 0;
         !important
    }

    #header {
        margin: 32px 0;
    }

    .logo {
        width: 64px;
        height: 64px;
    }

    #hub {
        margin: 32px 0 52px 0;
    }

    .arrow {
        margin-top: -12px;
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
    }

    #footer {

        max-width: 480px;

    }
}
