/*FONTS*/

@font-face {
    font-family: 'Effra-Regular';
    src: url('../fonts/Effra-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/Effra-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/Effra-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/Effra-Regular.svg#9415985da0ffc35466232532a260e2fc') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'EffraHeavy-Regular';
    src: url('../fonts/EffraHeavy-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/EffraHeavy-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/EffraHeavy-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/EffraHeavy-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/EffraHeavy-Regular.svg#dce01ffeba0589c2b8b38deab731206a') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'tisaproregular';
    src: url('../fonts/tisapro-regular-webfont.eot');
    src: url('../fonts/tisapro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-regular-webfont.woff') format('woff'), url('../fonts/tisapro-regular-webfont.ttf') format('truetype'), url('../fonts/tisapro-regular-webfont.svg#tisaproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tisaproitalicmedium';
    src: url('../fonts/tisapro-mediumitalic-webfont.eot');
    src: url('../fonts/tisapro-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-mediumitalic-webfont.woff') format('woff'), url('../fonts/tisapro-mediumitalic-webfont.ttf') format('truetype'), url('../fonts/tisapro-mediumitalic-webfont.svg#tisaproitalicmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tisapromedium';
    src: url('../fonts/tisapro-medium-webfont.eot');
    src: url('../fonts/tisapro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-medium-webfont.woff') format('woff'), url('../fonts/tisapro-medium-webfont.ttf') format('truetype'), url('../fonts/tisapro-medium-webfont.svg#tisapromedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tisaproitalicbold';
    src: url('../fonts/tisapro-bolditalic-webfont.eot');
    src: url('../fonts/tisapro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-bolditalic-webfont.woff') format('woff'), url('../fonts/tisapro-bolditalic-webfont.ttf') format('truetype'), url('../fonts/tisapro-bolditalic-webfont.svg#tisaproitalicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tisaprobold';
    src: url('../fonts/tisapro-bold-webfont.eot');
    src: url('../fonts/tisapro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-bold-webfont.woff') format('woff'), url('../fonts/tisapro-bold-webfont.ttf') format('truetype'), url('../fonts/tisapro-bold-webfont.svg#tisaprobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tisaproitalic';
    src: url('../fonts/tisapro-italic-webfont.eot');
    src: url('../fonts/tisapro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-italic-webfont.woff') format('woff'), url('../fonts/tisapro-italic-webfont.ttf') format('truetype'), url('../fonts/tisapro-italic-webfont.svg#tisaproitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'EffraHeavy-Regular';
    font-size: 120px;
    line-height: 110px;
    color: #3B3B41;
    text-align: center;
    width: 1200px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 1600px) {
    h2 {
        font-size: 80px;
        line-height: 70px;
        width: 700px;
    }
}
@media (max-width: 768px) {
    h2 {
        font-size: 45px;
        line-height: 40px;
        width: 280px;
    }
}
h2:after {
    display: block;
    width: 12px;
    height: 12px;
    margin: 60px auto;
    content: "";
    background: url(../img/sprite.png) -140px -147px;
    background-size: 491px 989px;
    font-weight: normal;
}
@media (max-width: 1600px) {
    h2:after {
        width: 8px;
        height: 8px;
        margin: 40px auto;
        font-size: 80px;
        background: url(../img/sprite.png) -140px -139px;
        background-size: 491px 989px;
    }
}
@media (max-width: 768px) {
    h2:after {
        width: 8px;
        height: 8px;
        margin: 30px auto 20px auto;
        font-size: 80px;
        background: url(../img/sprite.png) -140px -139px;
        background-size: 491px 989px;
    }
}
h3 {
    font-family: 'tisaproitalicbold';
    font-size: 50px;
    line-height: 64px;
    color: #3B3B41;
    text-align: center;
    font-weight: normal;
    display: block;
    width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1600px) {
    h3 {
        font-size: 30px;
        line-height: 42px;
        width: 750px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    h3 {
        font-size: 30px;
        line-height: 42px;
        width: auto;
        margin: 0 20px 0 20px;
    }
}
p {
    font-family: 'tisaproregular';
    font-size: 25px;
    line-height: 41px;
    color: #3B3B41;
    text-align: center;
    display: block;
    width: 1100px;
    margin: 40px auto 0 auto;
}
@media (max-width: 1600px) {
    p {
        font-size: 16px;
        line-height: 26px;
        width: 700px;
        margin: 30px auto 0 auto;
    }
}
@media (max-width: 768px) {
    p {
        font-size: 16px;
        line-height: 26px;
        width: auto;
        margin: 30px 20px 0 20px;
    }
}
/*FONTS-END*/

/* MENU */

.logo-small {
    display: block;
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 1000;
    margin: 20px 0 0 20px;
    padding: 0;
    left: 0;
    background: url(../img/sprite.png) 0px -195px;
    background-size: 491px 989px;
}
.logo-small:hover {
    background: url(../img/sprite.png) -42px -195px;
    background-size: 491px 989px;
}
.toggle-menu {
    display: block;
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 1000;
    margin: 20px 20px 0 0;
    padding: 0;
    right: 0;
}
.svg-menu-toggle {
    fill: #fff;
    pointer-events: all;
    cursor: pointer;
}
.svg-menu-toggle .round {
    transition: fill .4s ease-in-out;
}
.svg-menu-toggle .bar {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 1;
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, fill .4s ease-in-out;
}
.svg-menu-toggle .bar:nth-of-type(1) {
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
}
.svg-menu-toggle .bar:nth-of-type(3) {
    -webkit-transform-origin: 20px 20px;
    transform-origin: 20px 20px;
}
.svg-menu-toggle:active .bar:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translateY(-10px) translateX(-8px);
    transform: rotate(-45deg) translateY(-10px) translateX(-8px);
    fill: #3B3B41;
}
.svg-menu-toggle:active .bar:nth-of-type(2) {
    opacity: 0;
}
.svg-menu-toggle:active .bar:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translateY(6px) translateX(0px);
    transform: rotate(45deg) translateY(6px) translateX(0px);
    fill: #3B3B41;
}
.svg-menu-toggle:active .round {
    fill: #F2F2F2;
}
.inline-svg {
    display: block;
    margin: 0 auto;
}
.cbp-spmenu a {
    color: #F2F2F2;
    text-decoration: none;
    padding: 0;
}
.menu-primary {
    font-family: 'EffraHeavy-Regular';
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
}
.menu-secondary {
    font-family: 'tisaproregular';
    font-size: 14px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.menu-link-holder {
    display: block;
    margin-top: 100px;
}
.menu-link-dot {
    display: block;
    margin-top: 6px;
    width: 8px;
    height: 8px;
    background: url(../img/sprite.png) -126px -195px;
    background-size: 491px 989px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.dot-holder-1 {
    display: none;
}
/*MENU-END*/

/*GLOBALS*/

body,
html {
    height: 100%;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
}
body {
    background-color: #F2F2F2;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.trans {
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -ms-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
}
@media (max-width: 1600px) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 768px) {
    section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
section {
    margin-top: 160px;
    margin-bottom: 160px;
}
@media (max-width: 1600px) {
    section {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}
@media (max-width: 768px) {
    section {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.container-fluid {
    padding: 0px;
}
/*GLOBALS-END*/

/*INTRO*/

.intro {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: grey;
}
.logo-intro {
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 195px;
    background: url(../img/sprite.png) 0 0;
    background-size: 491px 989px;
    margin-top: -98px;
    margin-left: -70px;
    position: absolute;
    top: 50%;
    left: 50%;
}
@media (max-width: 768px) {
    .logo-intro {
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 139px;
        background: url(../img/sprite.png) -140px 0;
        background-size: 491px 989px;
        margin-top: -70px;
        margin-left: -50px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
@media (min-width: 1600px) {
    .logo-intro {
        display: none;
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 279px;
        background: url(../img/sprite.png) -154px -168px;
        background-size: 491px 989px;
        margin-top: -140px;
        margin-left: -100px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
.down-arrow {
    margin: 0 auto;
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) 0 -279px;
    background-size: 491px 989px;
    margin-left: -21px;
    position: absolute;
    bottom: 40px;
    left: 50%;
}
.down-arrow:hover {
    background: url(../img/sprite.png) -42px -279px;
    background-size: 491px 989px;
}
/*INTRO-END*/

/*PROJECTS*/

.proj-thumbs {
    margin-top: 40px;
}
.proj-link {
    display: block;
    width: 100%;
    height: auto;
}
a .proj-image {
    width: 100%;
    height: auto;
}
.proj-info {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(211, 65, 31, 1);
}
.dl-info {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3B3B41;
}
.info-details {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -140px;
    position: absolute;
    width: 280px;
    height: 200px;
}
.proj-info:hover {
    opacity: 1;
}
.dl-info:hover {
    opacity: 1;
}
.proj-arrow {
    display: block;
    margin: 42px auto 0 auto;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -84px -195px;
    background-size: 491px 989px;
}
.proj-name,
.proj-type {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'EffraHeavy-Regular';
    color: #F2F2F2;
    width: 100%;
}
.proj-name {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.proj-type {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
@media (max-width: 768px) {
    .proj-info {
        opacity: 1;
        height: 82px;
        bottom: 0;
    }
}
@media (max-width: 768px) {
    .dl-info {
        opacity: 1;
        height: 82px;
        bottom: 0;
    }
}
@media (max-width: 768px) {
    .info-details {
        top: 0;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .proj-arrow {
        display: block;
        position: absolute;
        right: 0;
        margin: 20px 20px 0 0;
        width: 42px;
        height: 42px;
        background: url(../img/sprite.png) -84px -195px;
        background-size: 491px 989px;
    }
}
@media (max-width: 768px) {
    .proj-name,
    .proj-type {
        position: absolute;
        margin: 0;
        padding: 0;
        font-family: 'EffraHeavy-Regular';
        color: #F2F2F2;
        width: 280px;
    }
}
@media (max-width: 768px) {
    .proj-name {
        display: block;
        font-size: 25px;
        text-align: left;
        margin-top: 10px;
        margin-left: 20px;
    }
}
@media (max-width: 768px) {
    .proj-type {
        font-size: 16px;
        text-align: left;
        margin-top: 25px;
        margin-left: 20px;
    }
}
/*PROJECTS-END*/

/*CONTACT*/

input:focus,
textarea:focus {
    outline: none;
}
input {
    width: 700px;
    display: block;
    margin: 0 auto;
    border: 0px;
    font-size: 30px;
    font-family: 'EffraHeavy-Regular';
    padding-top: 50px;
    background: #F2F2F2;
    border-bottom: 3px solid #3B3B41;
    -webkit-appearance: none;
    border-radius: 0;
}
@media (max-width: 768px) {
    input {
        width: 100%;
        display: block;
        margin: 0;
        font-size: 20px;
        padding-top: 30px;
    }
}
::-webkit-input-placeholder {
    color: #3B3B41;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #3B3B41;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #3B3B41;
}
:-ms-input-placeholder {
    color: #3B3B41;
}
button.contact {
    margin: 60px auto 0 auto;
    display: block;
    width: 360px;
    height: 80px;
    background: #3B3B41;
    border: 0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-size: 25px;
    font-family: 'EffraHeavy-Regular';
    color: #F2F2F2;
    line-height: 35px;
}
@media (max-width: 768px) {
    button.contact {
        margin: 35px auto 0 auto;
        display: block;
        width: 260px;
        height: 60px;
        background: #3B3B41;
        border: 0;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        font-size: 20px;
        font-family: 'EffraHeavy-Regular';
        color: #F2F2F2;
        line-height: 35px;
    }
}
button.contact:hover {
    background: #D44120;
}
button.contact:active {
    background: #e15535;
}
/*CONTACT-END*/

/*FOOTER*/

.social-networks {
    display: block;
    margin: 80px auto 0 auto;
    width: 250px;
    height: 80px;
}
.icons li {
    display: inline;
    float: left;
}
.icons a {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 20px;
}
.beh {
    background: url(../img/sprite.png) -0px -321px;
    background-size: 491px 989px;
}
.s6 {
    background: url(../img/sprite.png) -0px -363px;
    background-size: 491px 989px;
}
.drib {
    background: url(../img/sprite.png) -0px -405px;
    background-size: 491px 989px;
}
.beh-hover {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -42px -321px;
    background-size: 491px 989px;
    opacity: 0;
}
.beh-hover:hover {
    opacity: 1;
}
.s6-hover {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -42px -363px;
    background-size: 491px 989px;
    opacity: 0;
}
.s6-hover:hover {
    opacity: 1;
}
.drib-hover {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/sprite.png) -42px -405px;
    background-size: 491px 989px;
    opacity: 0;
}
.drib-hover:hover {
    opacity: 1;
}
footer p {
    width: 280px;
    display: block;
    font-family: 'Effra-Regular';
    font-size: 12px;
    margin: 0 auto;
    line-height: 1.8;
}
/*FOOTER-END*/