html,
body {
    position: relative;
    margin: 0;
}

.wrapper {
    /*max-width: 1200px;*/
}

h1,
h2 {
    font-family: 'Abel', sans-serif;
}

header {
    position: relative;
    min-height: 100vh;
    background: url(bg-cables.jpg) center center no-repeat;
    background-size: cover;
    color: white;
}

header .t {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

header .c {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

header h1 {
    margin: 0;
    font-size: 70px;
    line-height: 1.2;
}

header span {
    font-family: 'Sanchez', serif;
    font-size: 18px;
}

.intro {
    font-family: 'Ruthie', cursive;
    font-size: 44px;
}

.intro strong {
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    color: salmon;
}

.cave-toasty {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(cave-intruder.jpg) center center no-repeat;
    background-size: cover;
}

.cave-toasty.flash {
    display: block;
}

section {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 10vh 40px;
}

section:after {
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
}

section h1 {
    text-align: center;
    color: white;
}

section {
    font-family: 'Sanchez', serif;
    color: #333;
}

.limit-content {
    max-width: 1200px;
    margin: 0 auto;
}

.me {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 50%;
}

.me span {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.me img {
    display: block;
    margin: 0 0 10px;
    max-width: 100%;
}

.text-with-art {
    background: #222;
    color: #fff;
}

.text-with-art img {
    display: block;
    margin: 40px 0 0;
    width: 100%;
}

.charts {
    position: relative;
    min-height: 50vh;
    text-align: center;
}

.charts img {
    max-width: 100%;
}

.charts p {
    margin: 40px 0 0;
    text-align: center;
}

.animating .animation-element {
/*    background: lightsalmon;*/
}

.animation-content {
    background: rgba(255, 255, 255, .9);
}

.animation-content,
.whatever {
    box-sizing: border-box;
    padding: 10% 5% 0;
}

.animation-content .puppies,
.whatever .puppies {
    text-align: center;
}

.animation-content img {
    margin: 0 10px;
    height: 150px;
}

.puppies {
    margin: 20px 0;
}

.whatever {
    padding: 50px;
    text-align: center;
}

.whatever .puppies {
    opacity: .8;
}

.whatever img {
    margin: 10px;
    height: 100px;
}

.section9 {
    padding: 0;
    min-height: 0;
}

@media screen and (min-width: 720px) {
    section h1 {
        font-size: 40px;
        margin: 0 auto 80px;
        max-width: 60%;
    }
    .me {
        margin-left: 50px;
    }
    .charts img {
        width: 33.33%;
        margin-right: -4px;
    }
    .section9 {
        min-height: 100vh;
    }
    .puppies {
        margin: 40px 0;
    }
    .signature {
        display: block;
        text-align: center;
        font-size: 18px;
        color: black;
    }
}