html,body
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	min-height:100%;
	height:100%;
	margin:0; padding:0;
	-webkit-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: antialiased;
}
body
{ 
	background: url("../img/table/bg_table.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_table.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_table.jpg', sizingMethod='scale')";
 }
header { background:#595757; display:block; position:relative; margin:0; padding:0;}
.cnj-logo { display:inline-block; width:100px; height:44px; background:url("../img/cnj_logo.png"); position:relative; margin:15px 0 0 20px; }
.logout { display:inline-block; background:url("../img/table/Logout_icon.png") no-repeat center 10px #484646; height:84px; width:84px; text-align: center; }
.logout:hover { background:url("../img/table/Logout_icon.png") no-repeat center 10px #4E4C4C; }
.logout span { display:block; color:#F1F1F1; font-size:11px; text-transform: uppercase; padding-top:60px; }
.subheader { background:#F8F7F7;}
.btn1 { background: url("../img/table/DL_icon.png") no-repeat 30px center #484646; color:#F9F9F4; font-size:14px; text-align:center; padding:28px 30px 28px 70px;}
.btn2 { background: url("../img/table/FB_icon.png") no-repeat 30px center #53A1D8; color:#F9F9F4; font-size:14px; text-align:center; padding:28px 30px 28px 70px;}
.btn1:hover, .btn2:hover
{
	text-decoration: none;
	color:#fff;
}
.btn1:hover { background:url("../img/table/DL_icon.png") no-repeat 30px center #4E4C4C;}
.btn2:hover { background:url("../img/table/FB_icon.png") no-repeat 30px center #478DBE;}

.btn1, .btn2, .logout{
	transition:all 0.10s ease-in-out; -webkit-transition:all 0.10s ease-in-out; -moz-transition:all 0.10s ease-in-out;
}
.buttons { margin-bottom:0; }
.buttons li { padding-left:0; padding-right:0; margin-left:-5px; }
.title h1 { font-size:20px; color:#5F5C5C; text-transform: uppercase; margin:0; }
.title p { font-size:14px; color:#5F5C5C; margin:0;}
.title .pad1 { padding:16px 0 0 20px;}
.totals p { color:#5F5C5C; font-size:36px; margin:10px 5% 0;}
.transbg { background:rgba(255,255,255,0.85); padding-top:50px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.cnj-logo { background:url("../img/table/cnj_logo@2x.png"); background-size:contain; }
	.btn1 { background: url("../img/table/DL_icon@2x.png") no-repeat 30px center #484646; background-size:contain; }
	.btn2 { background: url("../img/table/FB_icon@2x.png") no-repeat 30px center #53A1D8; background-size:contain; }
	.logout { background:url("../img/table/Logout_icon@2x.png") no-repeat center 10px #484646; background-size:contain; }
}