---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getPublishedProjects } from '../lib/projects';

const projects = await getPublishedProjects();

const personJsonLd = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: 'Denis Stritar',
  url: 'https://denisstritar.com',
  jobTitle: 'Product Designer',
  /* TODO: populate sameAs with LinkedIn, Dribbble, Behance, etc. */
  sameAs: [],
};
---

<BaseLayout>
  <script is:inline type="application/ld+json" slot="head" set:html={JSON.stringify(personJsonLd)} />

  <header>
    <h1>Selected Work</h1>
    {/* TODO: intro copy / role / contact CTA */}
  </header>

  {/* TODO: render project grid from `projects` (see src/lib/projects.ts) */}
  <ul>
    {projects.map((project) => (
      <li>
        <a href={`/work/${project.id}`}>{project.data.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
