
.CamptonBlack {
    font-family: "Campton-Black";
}

.CamptonBold {
    font-family: "Campton-Bold";
}

.CamptonBook {
    font-family: "Campton-Book";
}

.CamptonExtraLight {
    font-family: "Campton-ExtraLight";
}

.CamptonMedium {
    font-family: "Campton-Medium";
}

body {
    margin: 0;
    width: 343px;
    font-family: "Campton-Book";
}

p {
    font-family: 'Campton-Book';
    font-size: 21px;
    color: #3E3B44;
    line-height: 30px;
}

    p a,
    small a {
        font-family: 'Campton-Bold';
        color: #3E3B44;
        text-decoration: underline;
        text-decoration-color: #F45550;
        text-decoration-thickness: 3px;
        text-underline-offset: 3px;
        -webkit-transition: color 0.18s ease-out;
        -moz-transition: color 0.18s ease-out;
        -o-transition: color 0.18s ease-out;
        transition: color 0.18s ease-out;
    }

    p a:hover,
    small a:hover {
        color: #F45550;
    }

@media (max-width: 799px) {
    body {
        margin: 0 16px;
    }
}