/*BASICS*/

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@font-face {
    font-family: 'AkkuratPro-Bold';
    src: url('../fonts/AkkuratPro-Bold.eot');
    /* IE9 Compat Modes */
    
    src: url('../fonts/AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/AkkuratPro-Bold.woff') format('woff'),
    /* Modern Browsers */
    
    url('../fonts/AkkuratPro-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../fonts/AkkuratPro-Bold.svg#8e4ac6878de559e681f53263f7ebda33') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'AkkuratPro-Regular';
    src: url('../fonts/AkkuratPro-Regular.eot');
    /* IE9 Compat Modes */
    
    src: url('../fonts/AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/AkkuratPro-Regular.woff') format('woff'),
    /* Modern Browsers */
    
    url('../fonts/AkkuratPro-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../fonts/AkkuratPro-Regular.svg#3478686034630b6bbb8f4a5751bfe071') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: 400;
}
/*NAVIGATION - INDEX*/

.index-header {
    float: left;
    width: 100%;
}

@media (max-width: 768px) {
    .index-header {
        display: block;
        width: 100%;
    }
}

.logo {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin: 40px;
    background: url(../img/sprite.png) 0 0;
    background-size: 300px 300px;
}

@media (max-width: 980px) {
    .logo {
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        margin: 20px;
        background: url(../img/sprite.png) 0 0;
        background-size: 300px 300px;
    }
}
/*NAVIGATION INDEX END*/

#container {
    display: none;
    width: 100%;
    height: 100%;
}
/*VIDEO*/

.intro-back {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    background: url(../img/back-temp.png)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    position: fixed;
    -webkit-transform: translateZ(0);
}

.intro {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.intro-content {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    -webkit-transform: translateZ(0);
}

@media (max-width: 1014px) {
    video#bgvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        display: none;
    }
    .intro-back {
        background: url(../img/back-temp.png)no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -100;
        height: 100%;
        -webkit-transform: translateZ(0);
    }
}
/*NAV*/

nav a {
    display: block;
    float: left;
    font-family: 'AkkuratPro-Regular';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 62px;
    margin-right: 30px;
}

nav a:hover {
    color: #7EBEE8;
}

.aux {
    float: right;
    margin-right: 40px;
}

@media (max-width: 1200px) {
    .index a {
        font-size: 12px;
        margin-right: 25px;
        margin-top: 65px;
    }
}

@media (max-width: 980px) {
    .index {
        display: none;
    }
}
/*MOBIL NAV*/

.mobile {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 999;
}

.mobile div {
    display: none;
}

.mobile button {
    text-indent: -9999px;
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    width: 22px;
    height: 22px;
    outline: none;
    background: url(../img/sprite.png) -5px -97px;
    background-size: 300px 300px;
}

.mobile button.expanded {
    background: url(../img/sprite.png) -43px -97px;
    background-size: 300px 300px;
}

.mobile a {
    display: block;
    width: 100%;
    text-align: center;
    background: #3B3B41;
    height: 30px;
    margin: 0;
    padding: 16px 0 0 0;
    border-bottom: 1px solid #37373D;
}

@media (max-width: 980px) {
    .mobile {
        display: block;
    }
}
/*index-content*/

.index-content {
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    position: absolute;
    display: block;
    width: 600px;
    height: 400px;
}

@media (max-width: 980px) {
    .index-content {
        margin: 0 0 -80px 0;
        padding: 0;
        width: 100%;
        top: 0;
        left: 0;
        position: relative;
        overflow: hidden;
    }
}

.logo-left {
    margin-top: 100px;
    display: block;
    width: 180px;
    height: 180px;
    float: left;
    background: url(../img/sprite.png) -72px -60px;
    background-size: 300px 300px;
}

.links-right {
    display: block;
    float: left;
    width: 420px;
    margin-top: 70px;
}

@media (max-width: 980px) {
    .logo-left {
        display: none;
    }
    .links-right {
        display: block;
        float: none;
        width: 100%;
        margin-top: 70px;
    }
    .links-right a {
        padding-left: 0px !important;
        display: block;
        font-family: 'AkkuratPro-Bold';
        font-size: 24px;
        color: #C9C9C9;
        line-height: 17px;
        text-decoration: none;
        margin: 30px 0 30px 0;
        text-align: center;
    }
}

.links-right a {
    padding-left: 40px;
    display: block;
    font-family: 'AkkuratPro-Bold';
    font-size: 24px;
    color: #C9C9C9;
    line-height: 17px;
    text-decoration: none;
    margin: 30px 0 30px 0;
}

.links-right a:after {
    content: "more";
    display: block;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: 8px;
}

.links-right a:nth-child(1) {
    color: #FF5D40;
}

.links-right a:nth-child(2) {
    color: #F9B120;
}

.links-right a:nth-child(3) {
    color: #A1C544;
}
/*FOOTER*/

footer {
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    font-family: 'AkkuratPro-Regular';
    font-size: 12px;
    color: #C9C9C9;
    line-height: 17px;
    padding-bottom: 40px;
}

footer a {
    font-family: 'AkkuratPro-Regular';
    font-size: 12px;
    color: #C9C9C9;
    line-height: 17px;
    text-decoration: none;
}

footer span {
    margin: 0 10px 0 10px;
}

.tel:before {
    margin-bottom: -3px;
    margin-right: 7px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/sprite.png) -0 -184px;
    background-size: 300px 300px;
}

.mail:before {
    margin-bottom: -2px;
    margin-right: 7px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url(../img/sprite.png) -0 -239px;
    background-size: 300px 300px;
}

.dl:before {
    margin-bottom: -4px;
    margin-right: 7px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 22px;
    background: url(../img/sprite.png) -0 -207px;
    background-size: 300px 300px;
}

@media (max-width: 980px) {
    footer {
        position: relative;
        overflow: hidden;
    }
    footer span {
        display: block;
        margin: 15px 0;
    }
    .footer-index {
        padding-top: 0px;
        display: block;
        width: 280px;
        margin: 0 auto;
        overflow: hidden;
    }
    .tel:before,
    .mail:before,
    .dl:before {
        display: block;
        margin: 0 auto 7px auto;
    }
}
/*BASE*/

.left-side {
    display: block;
    float: left;
    width: 30%;
    height: 100%;
    background: red;
}

.right-side {
    display: block;
    float: right;
    width: 70%;
    height: 100%;
}

@media (max-width: 1200px) {
    .left-side {
        display: block;
        width: 100%;
        height: 400px;
    }
    .right-side {
        display: block;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 640px) {
    .left-side {
        display: block;
        width: 100%;
        height: 200px;
    }
}
/*BASE NAV*/

.base-header {
    width: 100%;
    display: block;
    height: 100px;
}

@media (max-width: 1200px) {
    .base-header {
        width: 100%;
        top: 0;
        position: fixed;
        height: 100px;
    }
}

.base-nav a {
    color: #3B3B41 !important;
}

.base-nav a:hover {
    color: #7EBEE8 !important;
}

a.selected {
    color: #7EBEE8 !important;
}

@media (max-width: 1600px) {
    .base-nav a {
        font-size: 11px;
        margin-right: 14px;
        font-family: 'AkkuratPro-Bold';
    }
}

@media (max-width: 1200px) {
    .base-nav a {
        display: none;
    }
}