/*BASE*/

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}
/*FONTS*/

@font-face {
    font-family: 'AkkuratPro-Bold';
    src: url('../fonts/AkkuratPro-Bold.eot');
    /* IE9 Compat Modes */
    
    src: url('../fonts/AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/AkkuratPro-Bold.woff') format('woff'),
    /* Modern Browsers */
    
    url('../fonts/AkkuratPro-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../fonts/AkkuratPro-Bold.svg#8e4ac6878de559e681f53263f7ebda33') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'AkkuratPro-Regular';
    src: url('../fonts/AkkuratPro-Regular.eot');
    /* IE9 Compat Modes */
    
    src: url('../fonts/AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/AkkuratPro-Regular.woff') format('woff'),
    /* Modern Browsers */
    
    url('../fonts/AkkuratPro-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../fonts/AkkuratPro-Regular.svg#3478686034630b6bbb8f4a5751bfe071') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: 400;
}

nav a:hover {
    color: #7EBEE8;
}
/*HEADER-INDEX*/

.header {
    position: absolute;
    width: 100%;
}

.nav-logo {
    width: 60px;
    height: 60px;
    background: url(../img/sprite.png) 0 0;
    background-size: 300px 300px;
    float: left;
    margin: 40px 80px 0 40px;
}

nav {
    z-index: 999;
}

nav a {
    display: block;
    float: left;
    margin-top: 40px;
    padding-top: 23px;
    height: 37px;
    font-family: 'AkkuratPro-Bold';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
}

.aux-links {
    float: right;
    margin-right: 20px;
}

.main-links {
    margin-top: 40px;
}

.main-links a {
    font-family: 'AkkuratPro-Bold';
    text-decoration: none;
    line-height: 29px;
    font-size: 24px;
    display: block;
    width: 100%;
    height: 45px;
    padding-top: 40px;
    text-transform: uppercase;
    padding-left: 40px;
}

.marketing-main {
    color: #FF5D40;
}

.production-main {
    color: #F9B120;
}

.management-main {
    color: #A1C544;
}

.main-links a:after {
    font-family: 'AkkuratPro-Bold';
    display: block;
    content: "MORE";
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
}

@media (max-width: 1024px) {
    .intro-content {
        position: absolute;
        width: 600px;
        height: 400px;
        top: 50%;
        left: 55% !important;
        margin-top: -200px;
        margin-left: -300px;
    }
}

@media (max-width: 640px) {
    .subtle-logo {
        display: none;
    }
    .intro-content {
        position: absolute;
        width: 100% !important;
        height: 400px;
        top: 100px !important;
        left: 0 !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 1220px) {
    nav a {
        font-family: 'AkkuratPro-Bold';
        font-size: 12px;
        color: #FFFFFF;
        line-height: 17px;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 15px;
    }
}
/**/
/*HAMBURGER*/

.mobile {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
}

.mobile div {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mobile button {
    position: absolute;
    top: 30px;
    right: 20px;
    border: 0;
    overflow: hidden;
    width: 36px;
    height: 36px;
    text-indent: 200%;
    background: url(../img/sprite.png) 0 -90px;
    background-size: 300px 300px;
}

.mobile button.expanded {
    background: url(../img/sprite.png) -36px -90px;
    background-size: 300px 300px;
}

.mobile a {
    display: block;
    width: 100%;
    height: 40px;
    background: #232326;
    text-align: center;
    margin: 0;
    padding-top: 28px;
    border-bottom: 1px solid #1b1b1d;
}

@media (max-width: 1024px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .nav-logo {
        width: 60px;
        height: 60px;
        background: url(../img/sprite.png) 0 0;
        background-size: 300px 300px;
        float: left;
        margin: 20px 20px;
    }
}
/**/

.intro-back {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: url(../img/back-temp.png)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    position: fixed;
    -webkit-transform: translateZ(0);
}

.intro {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.intro-content {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
}

.subtle-logo {
    width: 200px;
    height: 100%;
    float: left;
}

.subtle-logo-img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 100px auto 0 auto;
    background: url(../img/sprite.png) -72px -60px;
    background-size: 300px 300px;
}

.main-links {
    width: 400px;
    height: 100%;
    float: left;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    -webkit-transform: translateZ(0);
}

@media (max-width: 1014px) {
    video#bgvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        display: none;
    }
    .intro-back {
        background: url(../img/back-temp.png)no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -100;
        height: 100%;
        -webkit-transform: translateZ(0);
    }
}