
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gutter-default);
  max-width: 1200px;
  padding: 0 var(--gutter-default);
  margin: 0 auto;
  box-sizing: border-box;
}

.grid-item {
  background: var(--surface-opacity-0-0-25);
  padding: var(--space-2);
  border-radius: 8px;
  grid-column: span 3;
  min-height: 100px;
  transition: background-color 0.2s;
}

.grid-item:hover {
  background: var(--surface-opacity-0-0-50);
  transition: background-color 0.5s;
}

.nav {
  grid-column: span 12;
  margin-top: 1.5rem;
  display: flex;
}

.logo {
  background-image: var(--logo);
  background-size: cover;
  width: 203.93px; 
  height: 40px;
}

/* Responsive Breakpoints */
@media (max-width: 767px) {
  .grid-container {
    gap: var(--gutter-phone);
    padding: var(--gutter-phone);
  }

  .grid-item {
    grid-column: span 12;
  }

 .desk  {
    display: none !important;
  }

  .right-aligned-content {
    gap: 16px !important; 
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    gap: var(--gutter-phone);
    padding: var(--gutter-phone);
  }

  .grid-item {
    grid-column: span 6;
  }

  .phone  {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .grid-item {
    grid-column: span 4;
  }

  .phone  {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .grid-item {
    grid-column: span 3;
  }

  .phone  {
    display: none !important;
  }
}

body {
  background-color: var(--surface--1);
  color: var(--content-strong);
  font-family: sans-serif;
  transition: background-color 0.2s, color 0.2s;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;  /* For WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale;  /* For Firefox on macOS */
}



.flare{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.flare img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
    /* Fade animation */
  opacity: 0.4;
  animation: fadeInOut 15s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.nav-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* aligns content to the right */
  overflow: hidden;
}

.right-aligned-content {
display: flex;
gap: 32px;
height: 40px;
align-items: center;    
}

.icon-button {
  display: flex;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 6px;
  background: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.icon-button:hover {
  background: var(--surface-opacity-1-0-50);
  transition: background-color 0.2s;
}


.github {
  width: 16px;
  height: 16px;
  background-image: var(--github-icon);
  background-size: cover;
  border-image-width: 0;
}

.theme {
  width: 16px;
  height: 16px;
  background-image: var(--theme-icon);
  background-size: cover;
  border-image-width: 0;
}

p.ghost-link {
  padding: 4px 8px;
  border-radius: 6px;
  display: block;
  color: var(--foreground-strong);
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: 500;
  transition: background-color 0.2s;
  cursor: pointer;
}

p.ghost-link:hover {
  background: var(--surface-opacity-1-0-50);
  transition: background-color 0.2s;
}

.cta-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cta-default);
  height: auto;
  border-radius: 9999px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cta-small:hover {
  background-color: var(--cta-hover);
  transition: background-color 0.2s;
}

.cta-small:active {
  background-color: var(--cta-pressed);
  transition: background-color 0.2s;
}

.cta-small p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
  padding: 0 16px;
  margin: 0;
  color: #ffffff;
}

.secondary-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-default);
  height: auto;
  border-radius: 9999px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-icon {
  width: 16px;
  height: 16px;
  background-image: var(--menu-icon);
  background-size: cover;
  border-image-width: 0;
}