
html {
  scroll-behavior: smooth;
}

a {
  all: unset;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gutter-default);
  max-width: 1200px;
  padding: 0 var(--gutter-default);
  margin: 0 auto;
  box-sizing: border-box;
}

.grid-item {
  background: var(--surface-opacity-0-0-25);
  padding: 0px;
  border-radius: 12px;
  grid-column: span 3;
  min-height: 100px;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}

.grid-item:hover {
  background: var(--surface-opacity-0-0-50);
  transition: background-color 0.5s;
}

.grid-item .headings {
  border-radius: 12px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  padding: 32px;
  background-color: var(--surface-opacity-0-0-0); /* semi-transparent */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* for Safari */
}

.grid-item h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 150% */
  margin: 0;
  padding-bottom: 12px;
}

.grid-item h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 150% */
  margin: 0;
}

.nav {
  grid-column: span 12;
  margin-top: 1.5rem;
  display: flex;
}

.logo {
  background-image: var(--logo);
  background-size: cover;
  width: 203.93px; 
  height: 40px;
}

.logo-lottie {
  width:auto; 
  height: 48px;
  cursor: pointer;
}

.logo-lottie lottie-player {
  height: 48px;
  width: auto;  
}

/* Responsive Breakpoints */
@media (max-width: 767px) {
  .grid-container {
    gap: var(--gutter-phone);
    padding: var(--gutter-phone);
  }

  .grid-item {
    grid-column: span 12;
  }

 .desk  {
    display: none !important;
  }

  .right-aligned-content {
    gap: 16px !important; 
    }

  .logo-lottie {
    width: 40px !important;
    overflow: hidden !important;
  }

  .logo-lottie lottie-player {
    height: 48px !important;
    width: 240px !important;
  }

  .beta-container {
    margin-top: 64px !important;
  }

  h1 {
    font-size: 32px !important;
    line-height: 36px !important;
    width: 320px !important;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    gap: var(--gutter-phone);
    padding: var(--gutter-phone);
  }

  .grid-item {
    grid-column: span 6;
  }

  .phone  {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .grid-item {
    grid-column: span 6;
  }

  .phone  {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .grid-item {
    grid-column: span 6;
  }

  .phone  {
    display: none !important;
  }
}

body {
  background-color: var(--surface--1);
  color: var(--content-strong);
  transition: background-color 0.2s, color 0.2s;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;  /* For WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale;  /* For Firefox on macOS */
}



.flare{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.flare img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
    /* Fade animation */
  opacity: 0.4;
  animation: fadeInOut 20s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.nav-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* aligns content to the right */
  overflow: hidden;
}

.right-aligned-content {
display: flex;
gap: 32px;
height: 40px;
align-items: center;    
}

.icon-button {
  display: flex;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 6px;
  background: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.icon-button:hover {
  background: var(--surface-opacity-1-0-50);
  transition: background-color 0.2s;
}


.github {
  width: 16px;
  height: 16px;
  background-image: var(--github-icon);
  background-size: cover;
  border-image-width: 0;
}

.theme {
  width: 16px;
  height: 16px;
  background-image: var(--theme-icon);
  background-size: cover;
  border-image-width: 0;
}

p.ghost-link {
  padding: 4px 8px;
  border-radius: 6px;
  display: block;
  color: var(--foreground-strong);
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: 500;
  transition: background-color 0.2s;
  cursor: pointer;
}

p.ghost-link:hover {
  background: var(--surface-opacity-1-0-50);
  transition: background-color 0.2s;
}

.cta-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cta-default);
  height: auto;
  border-radius: 9999px;
  height: 32px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cta-small:hover {
  background-color: var(--cta-hover);
  transition: background-color 0.2s;
}

.cta-small:active {
  background-color: var(--cta-pressed);
  transition: background-color 0.2s;
}

.cta-small p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
  padding: 0 16px;
  margin: 0;
  color: #ffffff;
}

.cta-big {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cta-default);
  height: auto;
  border-radius: 9999px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cta-big:hover {
  background-color: var(--cta-hover);
  transition: background-color 0.2s;
}

.cta-big:active {
  background-color: var(--cta-pressed);
  transition: background-color 0.2s;
}

.cta-big p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  padding: 0 40px;
  margin: 0;
  color: #ffffff;
}

.secondary-big {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-default);
  height: auto;
  border-radius: 9999px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.secondary-big:hover {
  background-color: var(--secondary-hover);
  transition: background-color 0.2s;
}

.secondary-big:active {
  background-color: var(--cta-pressed);
  transition: background-color 0.2s;
}

.secondary-big p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  padding: 0 40px;
  margin: 0;
  color: var(--content-inverted);
}

.hero-buttons {
  grid-column: 12;
  display: flex;
  gap: 16px;
  grid-column: span 12;
  justify-content: center;
}


.secondary-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-default);
  height: auto;
  border-radius: 9999px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-icon {
  width: 16px;
  height: 16px;
  background-image: var(--menu-icon);
  background-size: cover;
  border-image-width: 0;
}

.beta-container {
  display: flex;
  margin-top: 96px;
  grid-column: span 12;
  height: auto;
  justify-content: center;
}

.beta-badge {
  width: 61px;
  height: 24px;
  background-image: var(--beta);
  background-size: cover;
  border-image-width: 0;
}

.hero {
  display: flex;
  grid-column: span 12;
  height: auto;
  justify-content: center;
}

h1 {
width:700px;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 72px;
font-style: normal;
font-weight: 200;
line-height: 80px;
margin: 0;
}

h1 strong {
  font-weight: 700;
}

.mono {
  display: flex;
  grid-column: span 12;
  font-family: 'DM Mono', monospace;
  justify-content: center;
}

p.mono {
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 150% */
margin:0;
}


.lottie-1-light,
.lottie-1-dark {
  display: none;
}


html[data-theme="theme1"] .lottie-1-dark {
display: block;
}


html[data-theme="theme2"] .lottie-1-light {
display: block;
}

lottie-player {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.quote {
  display: flexbox;
  grid-column: span 12;
  margin-bottom: 64px;
}

.quote p {
  width: 100%;
  display: flex;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px; /* 150% */
  margin: 0;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}

.quote small {
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 150% */
  margin: 0;
  justify-content: center;
  text-align: center;
}

.bottom-margin{
  margin-bottom: 100px;
}

section {
  display: flex;
  grid-column: span 12;
  margin: 520px 0;
}