:root {
    --space-1: 0.5rem;   /* 4px */
    --space-2: 1rem;     /* 8px */
    --space-3: 1.5rem;   /* 12px */
    --space-4: 2rem;     /* 16px */
    --gutter-default: var(--space-4);
    --gutter-phone: var(--space-2);
  }
  
  [data-theme="theme1"] {

    --logo: url("./img/logo_dark.svg");
    --github-icon: url("./img/icons/github_dark.svg");
    --theme-icon: url("./img/icons/sun.svg");
    --menu-icon: url("./img/icons/menu-dark.svg");

    /*surface*/
    --surface-1: #2E3136;
    --surface-0: #25282C;
    --surface--1: #1A1C1F;

    /*cta*/
    --cta-default: #6778DE;
    --cta-hover: #7685E1;
    --cta-pressed: #6F7FE0;

    /*secondary*/
    --secondary-default: #F0F0F0;
    --secondary-hover: #FFFFFF;
    --secondary-pressed: #CFCFCF;

    /*overlay*/
    --surface-opacity--1-0-25: #1a1c1f40;
    --surface-opacity--1-0-50: #1a1c1f80;
    --surface-opacity--1-0-75: #1a1c1fbf;
    --surface-opacity-0-0-25: #25282c40;
    --surface-opacity-0-0-50: #25282c80;
    --surface-opacity-0-0-75: #25282cbf;
    --surface-opacity-1-0-25: #2e313640;
    --surface-opacity-1-0-50: #2e313680;
    --surface-opacity-1-0-75: #2e3136bf;

    /*content*/
    --content-strong:#FFFFFF;
    --content-subtle:#DDE0E4;
    --content-muted:#BDC1CA;
  }
  
  [data-theme="theme2"] {

    --logo: url("./img/logo_light.svg");
    --github-icon: url("./img/icons/github_light.svg");
    --theme-icon: url("./img/icons/moon.svg");
    --menu-icon: url("./img/icons/menu-light.svg");



    /*surface*/
    --surface-1: #FFF;
    --surface-0: #F8F9FA;
    --surface--1: #F0F1F3;

    /*cta*/
    --cta-default: #6778DE;
    --cta-hover: #7685E1;
    --cta-pressed: #6F7FE0;

    /*secondary*/
    --secondary-default: #363E4A;
    --secondary-hover: #1A1C1F;
    --secondary-pressed: #0E1012;
    

    /*overlay*/
    --surface-opacity--1-0-25: #f0f1f340;
    --surface-opacity--1-0-50: #f0f1f380;
    --surface-opacity--1-0-75: #f0f1f3bf;
    --surface-opacity-0-0-25: #f8f9fa40;
    --surface-opacity-0-0-50: #f8f9fa80;
    --surface-opacity-0-0-75: #f8f9fabf;
    --surface-opacity-1-0-25: #ffffff40;
    --surface-opacity-1-0-50: #ffffff80;
    --surface-opacity-1-0-75: #ffffffbf;

    /*content*/
    --content-strong:#1A1C1F;
    --content-subtle:#2E3136;
    --content-muted:#646B76;
  }
  
